1,pic01.jpg,Mrs Jones,<b>Don't touch</b> my eggs!
2,pic02.jpg,Ms Smith,What ya doin'?
3,pic03.jpg,Ms Brown,I <b>do not</b> give chocolate milk
4,pic04.jpg,Capt'n Jack,I am a <b>good boy</b>
5,pic05.jpg,Marie Antoinette,Meow
