# This MUST BE encoded as UTF-8
# Fields:
# - label:   Identifier, a unique string, REQUIRED
# - image:   Name of file with picture of animal, CONFIG question
# - name:    Name of animal, any text allowed, CONFIG question
# - tagline: What the animal has to say, MUST BE valid HTML, CONFIG question
# Do NOT put spaces before a comma
GALLUS, pic01.jpg, Mrs Jones,             <b>Don't touch</b> my eggs!
CERVIS, pic02.jpg, Ms Smith,              What ya doin'?
BOVIS,  pic03.jpg, "Ms ""Mighty"" Brown", I <b>do not</b> give chocolate milk
CANIS,  pic04.jpg, Capt'n Jack,           I am a <b>good boy</b>
FELIS,  pic05.jpg, Marie Antoinette,      Meow
