<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="user">
    <div id="header">
      Done: {{.Done}} | Skipped: {{.Skipped}} | To do: {{.Todo}}
    </div>
    <div id="main">

      <h1>Questionnaire</h1>

      <div id="question">
        <p>
          <!-- CONFIG: .Image -->
          <img src="../img/{{.Image}}">
        </p>
        <p>
          <!-- CONFIG: .Text -->
          This is {{.Text}}
        </p>
      </div>

      <form action="."  method="post">
        <input type="hidden" name="action" value="submit">
        <input type="hidden" name="qid" value="{{.Qid}}">
        <hr>
        <p>
          <!-- CONFIG: .Text -->
          What kind of animal is {{.Text}}?<br>
          <!-- CONFIG: animal -->
          <input type="text" name="animal" maxlength="100" autofocus>
        </p>
        <p>
          <!-- CONFIG: .Text -->
          What is {{.Text}}'s primary colour?<br>
          <!-- CONFIG: colour -->
          <input type="text" name="colour" maxlength="100" >
        </p>
        <p>
          <!-- CONFIG: .Text -->
          How big is {{.Text}}?<br>
          <!-- CONFIG: size + value -->
          <input type="radio" id="huge" name="size" value="5">
          <label for="huge">Huge</label><br>
          <input type="radio" id="large" name="size" value="4">
          <label for="large">Large</label><br>
          <input type="radio" id="medium" name="size" value="3">
          <label for="medium">Medium</label><br>
          <input type="radio" id="small" name="size" value="2">
          <label for="small">Small</label><br>
          <input type="radio" id="tiny" name="size" value="1">
          <label for="tiny">Tiny</label><br>
        </p>
        <hr>
        <p>
          <input type="checkbox" id="skip" name="skip" value="1">
          <label for="skip">Skip this question, it's too difficult</label>
        </p>
        <input type="submit">
      </form>

    </div>

    <div id="footer">
      <a href="..">Home</a>
    </div>
  </body>
</html>
