<!DOCTYPE html> 
<html>
  <head>
    <title>Question</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../favicon.ico" type="image/ico">
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>
  <body class="user">
    <div id="header">
      {{.UserName}} &middot;&middot; <a href="?action=logout">log out</a>
    </div>
    <div id="main">
    
      <h1>Under development</h1>

      <div id="question">
	<p>
	  <img src="{{.Image}}">
	</p>
	<p>
	  {{.Question}}
	</p>
      </div>

    </div>

    <div id="footer">
      <a href="..">home</a>
    </div>
    </body>
</html>
